@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h2>Sorry, an error occurred while processing your request.</h2>
<p>@Html.ActionLink("Back to Blog List", "Index", "Home")</p>
